<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel='icon' type='x-icon' href='http://localhost:5000/static/assets/trackerr-logo.jpg'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page</title>
    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link rel="stylesheet" href="../static/styles/error.css" />
  </head>
  <body>
    <div class="container">
      <h2>404</h2>
      <h3>Oops, nothing here...</h3>
      <p>Please Check the URL</p>
      <p>
        Otherwise, <a href="/">Click here</a> to redirect to
        homepage.
      </p>
    </div>
  </body>
</html>
