<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page</title>
    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link rel="stylesheet" href="../static/styles/error.css" />
  </head>
  <body>
    <div class="container">
      <h2>500</h2>
      <h3>Oops, Internal server error</h3>
      <p>
        the server encountered an internal error and was unable to complete your
        request. Try and refresh this page
      </p>
      <p>
        Otherwise, <a href="#homepage"><button>Go to home</button></a>
      </p>
    </div>
  </body>
</html>
