<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Us-Tackerr</title>
    <link rel="stylesheet" href="style.css" />
    <link rel='icon' type='x-icon' href='http://localhost:5000/static/assets/trackerr-logo.jpg'/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/contact.css" />
    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link rel="stylesheet" href="../static/styles/commonStyle.css" />
  </head>
  <body>
    <div class="container">
        <a href={{url_for('home')}}>
        <img src="../static/assets/back-svgrepo-com (3).svg" alt="home" />
      </a>
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Lagos, Ng</div>
            <div class="text-two">Accra, Gh</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+2348020741046</div>
            <div class="text-two">+23399076363</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">officialtrackerr@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>
            If you have any problem related to our tracking system or any
            complain, you can send us a message from here. It's our pleasure to
            help you.
          </p>
          <form action="/contactus" id="contactForm" method="post">
            <div class="input-box">
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="input-box">
              <input
                type="email"
                id="email"
                name='email'
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="input-box message-box">
              <input
                type="text"
                id="message"
                name="message"
                placeholder="Enter your Message"
                required
              />
            </div>
            <div class="button">
              <input type="submit" value="Send Now" />
            </div>
            <p><a id='res' href={{url_for('home')}}>{{msg}}</a></p>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/scripts/contact.js"></script>
</html>
