<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Trackerr is a parcel tracking system that help vendor to generate a tracking number and track thier parcels"
    />
    <meta
      name="keywords"
      content="track, tracking number, vendor, parcel, customer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:700&display=swap"
      rel="stylesheet"
    />

    <title>Trackerr</title>
    <link rel="stylesheet" href="../styles/landingPage.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
    </style>
    
  </head>
  <body>
    <header>
      <nav class="nav-bar"></nav>
      <div class="search-section">
        <h1>Track your package with Trackerr</h1>
        <input type="number" />
        <button class="track-button"></button>
        <p>
          Are you a vendor ? <span>register</span> to generate a tracking number
          for your customers.<span>register</span>
        </p>
      </div>
    </header>

    <main>
      <p>Display shiped items</p>
      <!--This section will be rendered dynamicaly after a customer search for his/her product-->
      <!--
        
      -->
      <section class="product-display"></section>
    </main>
  </body>
</html>
