<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Trackerr-Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link rel="stylesheet" href="../static/login-02/style.css" />
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-side">
        <a href="/" title="Logo">
          <img
            class="logo"
            src="../static/assets/chevron.svg"
            alt="Logo"
            style="transform: rotate(360deg)"
          />
        </a>
        <div class="my-form__wrapper">
          <div class="login-welcome-row">
            <h1>Welcome back &#x1F44F;</h1>
            <p>Please enter your details!</p>
          </div>
          <form action={{url_for('login')}} class="my-form" method='post'>
            <div class="socials-row">
              <a href="#" title="Use Google">
                <img
                  src="../static/login-02/assets/google.png"
                  alt="Google"
                />
                Log in with Google
              </a>
            </div>
            <div class="divider">
              <div class="divider-line"></div>
              Or
              <div class="divider-line"></div>
            </div>
            <div class="text-field">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Your Email"
                required
              />
              <img
                alt="Email Icon"
                title="Email Icon"
                src="../static/login-02/assets/email.svg"
              />
            </div>
            <div class="text-field">
              <label for="password">Password:</label>
              <input
                id="password"
                type="password"
                name="password"
                placeholder="Your Password"
                title="Minimum 6 characters at 
                                    least 1 Alphabet and 1 Number"
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
                required
              />
              <img
                alt="Password Icon"
                title="Password Icon"
                src="../static/login-02/assets/password.svg"
              />
            </div>
           <input type="submit" class="my-form__button" value="Login" />
            <div class="my-form__actions">
              <div class="my-form__row">
                <span>Did you forget your password?</span>
                <a href={{url_for('recover')}} title="Reset Password">
                  Reset Password
                </a>
              </div>
              <div class="my-form__signup">
                  <a href="#" title="Create Account"> Register as Vendor</a>
              </div>
            </div>
          </form>
          <!-- dummy form -->
          <form action='/login' method='post'>
              <input name='email' type='email' />
              <input name='password' type='password' />
              <input value='login' type='submit' />
          </form> 
        </div>
      </div>
      <div class="info-side">
        <img
          src="../static/login-02/assets/mock.png"
          alt="Mock"
          class="mockup"
        />
        <div class="welcome-message">
          <h2>👋</h2>
          <p>Track your parcel with ease</p>
        </div>
      </div>
    </div>
    <script src="../static/login-02/script.js"></script>
  </body>
</html>
