<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tabs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulishy&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/resetPassword.css"
    />
  </head>
  <body>
    <div class="form-wrapper">
      <div class="form-side">
        <a href="#" title="Logo">
          <img
            src="../static/login-02/assets/trackerr-logo.jpg"
            class="logo"
            alt="Ofin"
          />
        </a>

        <form action='/recovery' class="my-form" method='post'>
           
          <h2>
            Enter your email and submit, wait to receive OTP code to reset your
            password
          </h2>
          <div class="text-field">
            <label for="email"
              >Email:
              <input
                type="email"
                id="email"
                name="email"
                autocomplete="off"
                placeholder="Your Email"
                required
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                <path
                  d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"
                ></path>
              </svg>
            </label>
          </div>
          <div id="error-message" class="error-message"></div>
          <div id="notification-message" class="notification-message">{{msg}}</div>

          <button type="submit" class="my-form__button">submit</button>
        </form>
      </div>
    </div>

    <script src="../static/scripts/resetPassword.js"></script>
  </body>
</html>
