*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /*font-size: 62.5%;*/
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #b39eb5;
  text-decoration: underline;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  color: #fff;
  padding: 10px 0;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-container {
  background-color: #333;
}

ul {
  display: flex;
}

li {
  margin: 10px;
  color: white;
}
button {
  background-color: #a753ff;
  border-radius: 5px;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  height: 35px;
}
button:hover {
  background-color: #b39eb5;
}
input {
  width: 600px;
  height: 45px;
  border-radius: 5px;
  padding: 5px;
}
.track-btn {
  height: 45px;
  width: 100px;
}
.search-section {
  text-align: center;
  margin-bottom: 150px;
  padding: 50px;
}
.section-text {
  font-size: 15px;
}

h1 {
  color: red;
}
header {
  border-bottom: 1px solid black;
  box-shadow: 0 6px 8px -5px rgba(0, 0, 0, 0.15);
  background: radial-gradient(
    circle at 100%,
    #333,
    #333 50%,
    #a753ff 75%,
    #333 75%
  );
  clip-path: polygon(50% 0, 100% 0, 100% 84%, 65% 100%, 35% 100%, 0 85%, 0 0);
}
.register-li {
  color: #a753ff;
}
.register-li:hover {
  color: #b39eb5;
}

.product-display {
  height: 600px;
  max-width: 1100px;
  border: 1px solid black;
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
}
main {
  text-align: center;
}
