<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - TRACKERR</title>
    <link rel="stylesheet" href="/static/styles/aboutus.css" />
    
</head>
<body>
    <header>
        <h1>ABOUT US</h1><div class="duplicated-h1">TRACKERR</div>
    </header>
    <h2>
        Welcome to Trackerr, the ultimate parcel tracking application designed for vendors to efficiently manage and track their shipments to customers. With Trackerr, you can streamline your shipping processes, provide real-time tracking information to your customers, and improve overall customer satisfaction.
        Allow us to introduce ourselves:
    </h2>

    <section class="team" id="team">
        <div class="author">
            <img src="/static/image/Trakerr.jpeg" alt="Kingsley">
            <h3>Kingsley</h3>
            <p><strong>Role:</strong> Team Lead</p>
            <p>[Author 1's brief bio and personal story, highlighting their journey into the world of software engineering and their unique perspective on the field.]</p>
        </div>
        <div class="author">
            <img src="/static/image/Trakerr.jpeg" alt="AHmad Hamza">
            <h3>Ahmad Hamza</h3>
            <p><strong>Role:</strong> The Visionary</p>
            <p>[Author 1's brief bio and personal story, highlighting their journey into the world of software engineering and their unique perspective on the field.]</p>
        </div>
        <div class="author">
            <img src="/static/image/Trakerr.jpeg" alt="Rena">
            <h3>Rena</h3>
            <p><strong>Role:</strong> The Visionary</p>
            <p>[Author 1's brief bio and personal story, highlighting their journey into the world of software engineering and their unique perspective on the field.]</p>
        </div>
        <div class="author">
            <img src="/static/image/Trakerr.jpeg" alt="[Yahaya Abdulwasiu">
            <h3>Yahaya Abdulwasiu</h3>
            <p><strong>Role:</strong> The Visionary</p>
            <p>[Author 1's brief bio and personal story, highlighting their journey into the world of software engineering and their unique perspective on the field.]</p>
        </div>
    </section>

    <!-- Other sections (journey, mission, content, connect) remain the same -->

    <footer>
        <p>Join Us on Our Tech Journey</p>
        <p>Stay curious, stay inspired, and let's code the future together!</p>
        <p>Sincerely, <a href= "home.html" <strong>TRACKERR</strong></a></p>
    </footer>
</body>
</html>
