<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/pwdrrequest.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Header</h1>
  </header>
  <main>
    <form id="password-reset-form">
        <div id="alert"></div>
      
        <label for="password">Password</label>
        <input type="password" id="password" />
      
        <label for="password-verify">Re-type password</label>
        <input type="password" id="password-verify" />
      
        <button type="submit">Reset password</button>
      </form>
  </main>
  <footer>
    <p>Footer</p>
  </footer>
</body>
</html>