<h1>Sign up</h1>

<form action={{url_for('signup')}} method='post'>
    <input type='text' name='username' required placeholder='username'> <br>
    <input type='password' name='password' required placeholder='password'> <br>
    <input type='email' name='email' required placeholder='email'> <br>
    <input type='text' name='firstName' required placeholder='firstName'> <br>
    <input type='text' name='lastName' required placeholder='Lastname'>
    <input type='text' name='companyAddr' required placeholder='CompanyAddres'> <br>
    <input type='text' name='country' required placeholder='country'> <br>
    <input type='text' name='city' required placeholder='city'> <br>
    <input type='text' name='phone' required placeholder='phone'> <br>
    <input type='text' name='companyName' required placeholder='Company name'> <br>
    <input type='text' name='service' required placeholder='service'>
    <input type='submit'>
</form>

<a href={{url_for('login')}}> Login </a>
