body {
    background-color: whitesmoke;
    height: 40%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

body::before {
    /* Set the background image URL */
    content: "";
    background-image: url('/static/image/logo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Set the height to 40% of the viewport height */
    height: 45vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}