:root {
  --primary: #a753ff;
  --primary-light: #6667b0;
  --violet-light: #a753ff;
  --secondary: #1d1d1d;
  --white: #f4f1ff;
}

body {
  font-size: 16px;
  background: var(--info-side-background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}

@media (max-width: 840px) {
}
