:root {
  --primary: #a753ff;
  --primary-light: #6667b0;
  --violet-light: #a753ff;
  --secondary: #1d1d1d;
  --white: #f4f1ff;
}

body {
  font-size: 16px;
  background: var(--info-side-background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}

.form-side {
  padding: 186px 32px 48px 32px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: white;
}

.welcome-message {
  max-width: 360px;
}

.logo {
  display: block;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 16px;
  max-width: 460px;
  min-width: 300px;
  width: 100%;
  padding: 48px 32px;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.my-form__button {
  background-color: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  line-height: 50px;
  outline: none;
  font-size: 18px;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 50px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
button:hover {
  background-color: #b39eb5;
}

.text-field input {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--secondary);
  height: 50px;
  letter-spacing: 0.03rem;
  background-color: transparent;
  outline: none;
  transition: 0.25s;
  border-radius: 8px;
  text-indent: 20px;
  margin-top: 4px;
}

.text-field label:focus-within {
  color: var(--primary);
}

.text-field {
  position: relative;
}

.text-field svg {
  position: absolute;
  right: -2px;
  bottom: -4px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.text-field input:focus {
  border: 1px solid var(--primary);
}

.text-field input:focus + svg {
  stroke: var(--primary);
}

.text-field label {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  z-index: 10;
}

@media (max-width: 840px) {
  .form-wrapper {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
